:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:  #2196F3;
    --primary-white-color: #ffffff;
    --bg-color-footer-hero: #2F303A;
    --bg-color-section: #F5F4FA;
    --primary-black-color: #000000;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/*logo*/
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
}
.logo>.logo-one {
    color: var(--accent-color);
    }
.logo>.logo-two {
    color: var(--primary-black-color);
        }
.logo>.logo-three {
    color: var(--primary-white-color);
       }
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/*стилізація навігації*/
.linknav {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.linknav:hover,
.linknav:focus,
.linknav.current {
    color: var(--accent-color);
}
.addressnav {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.addressnav:hover,
.addressnav:focus {
    color: var(--accent-color);
}

/*hero*/
.hero {
    background-color: var(--bg-color-footer-hero);
}
.hero-title {
     color: var(--primary-white-color);
     font-weight: 900;
     font-size: 44px;
     line-height: 1.36;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
}
/*секції*/
.section-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section {
    color: var(--title-text-color);
}
.section-comand {
    background-color: var(--bg-color-section);
}
.resources {
    font-size: 16px;
    line-height: 1.88;
    
}
/*футер*/
.footer {
    background-color: var(--bg-color-footer-hero);
    color:var(--primary-white-color);
}
.addressfooter {
    font-size: 14px;
    line-height: 2;
    font-style: normal;
}
.linkfooter {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
    font-style: normal;
}
.linkfooter:hover,
.linkfooter:focus {
    color: var(--accent-color);
}
.names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.people {
    font-size: 16px;
    line-height: 1.19;
}
/*особливості*/
.title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.description {
    font-size: 14px;
    line-height: 2;
   
}
.occupation {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*button*/
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: transparent;
    cursor: pointer;
    list-style: none;

}
.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.button.secondary {
    background-color: var(--bg-color-section);
    color: var(--title-text-color);
}
.hero > .button.primary {
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
}